<template>
  <v-app>
<v-app-bar class="navi"  fixed flat app style="background:#ffffff;" >
    <v-app-bar-nav-icon @click.stop="drawer= !drawer" class="hidden-md-and-up"></v-app-bar-nav-icon>
     <img class="mx-15 pa-25 lol" src="@/assets/logi.png" style=" width: 134.64524841308594px;
left: 137.138671875px;height: 37.401458740234375px;">
      <v-spacer></v-spacer>

      <div class="hidden-sm-and-down">
<v-btn text small  >ABOUT</v-btn>
  <v-btn text small  >CONTACT US</v-btn>
  <v-btn text small  >FOOD STORE</v-btn>
  <v-btn text small  style="background:#63C132;" >login</v-btn>
  <v-btn outlined small class="text-capitalize mx-3" color="red">sign up</v-btn>
</div>
    </v-app-bar>
    <v-navigation-drawer class="py-5" absolute temporary width="300px" v-model="drawer" height="500px">
<v-list nav
        dense
      >
  <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
   <v-list-item >
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-title >ABOUT</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>CONTACT US</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>FOOD STORE</v-list-item-title>
          </v-list-item>

        
  </v-list-item-group>
  </v-list>
   </v-navigation-drawer>


    <v-main>
      <HelloWorld />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import HelloWorld from "./components/HelloWorld.vue";

export default Vue.extend({
  name: "App",

  components: {
    HelloWorld
  },

  data(){
    return{
      drawer:false,
    }
  }
});
</script>
<style scoped>
@media only screen and (max-width: 600px) {
.lol{
  margin-right: 50px;
}
  }

v-btn{
  background-color: #002D04;
}
.navi{
  background:none;
}
</style>