<template>
 <v-container fluid>
    <v-card flat class="text-center my-5">
      <v-card-text style="font-size:30px;" class="font-weight-heaby" ><strong> Sycamore Public sector Loan</strong></v-card-text>
      <v-card-text >Federal government workers in Nigeria can now access loans directly from 
        <br> phones! Just dail *347*34# to get started now.</v-card-text>
        <br>
        <v-btn small style=" background-color: rgb(212, 19, 19);">
          How it works</v-btn>
    </v-card>
   <v-img src="hill.png" class="mx-auto" contain no-repeat height="200px" width="100%" >    

     </v-img>
     <br>

     <img max-height="125" class="my-25" src="vector.png" style="position: absolute;
background-repeat:no-repeat;
height: 441px;
left: 0px;
top: 376px;
width:100%;
background: rgba(226, 57, 57, 0.05);">

<div class="kit my-14" style=" display:flex; margin:100px; max-height:30px: max-width:100% ; padding-top:210px;">

      <h3 style="position: absolute;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
margin-top:50px;
color: #002D04;" class="mx-15 my-10">As seen on</h3>
<v-img src="gur.png"  style="opacity:1.5; left:150px ;"  max-width="15%" contain >

</v-img>
  <v-img src="log.png" class="mx-15 my-5"   style="opacity:1.5; left:110px ;" max-width="10%" contain >
  </v-img>
   <v-img src="ty.png"  style=" opacity:1.5; left:100px ; " max-width="10%" contain >
  </v-img>
  
</div>
   </v-container>
</template>


<script lang="ts">
import Vue from "vue"; 

export default Vue.extend({
  name: "HelloWorld",

  data: () => ({
    
  })
});
</script>
<style scoped>
@media only screen and (max-width: 600px) {
.kit{
display: inline-block;
height: 300px;
width: fit-contents;
}
  }
</style>
